nav {
    background-color: orange;
    color: white;
    height: 80px;
    font-weight: 600;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* 上下左右の余白をリセット */
    width: 100%;
    /* 横幅を100%に設定 */
    box-sizing: border-box;
    /* パディングやボーダーも幅に含める */
}